//- META INFORMATION
- const page_title = 'News'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = true
- const isBootstrap = true


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            .news
                .news__pageTitleBanner
                    .news__bannerBg
                    .news__pageTitle
                        h1.news__title News
                        h2.news__subTitle お知らせ
                .news__newsContent
                    ul.breadcrumb
                        li.breadcrumb__item
                            a.breadcrumb__home(href=`${relativePath}`) HOME
                        li.breadcrumb__item
                            a.breadcrumb__current(href=`${relativePath}/#caseStudy`) News
                        li.breadcrumb__item 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―

                    .news__news
                        .news__newsDateWrapper
                            span.news__newsDate 2021年2月11日

                        h3.news__newsTitle 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
                        .news__newsDescription 慶應義塾大学と東京歯科大学は、2023年4月をめどにした合併協議の開始を明らかにした。実現すれば、慶応大学には歯学部が設置され、さらに総合大学としての競争力強化が予想される。
                            br
                            | 東京歯科大学の歯学部の慶應義塾大学への統合および法人の合併について協議開始（プレスリリース）より抜粋。
                            br
                            | プレスリリースによると、東京歯科大学からの申し入れを受け、慶應義塾大学は11月26日の評議員会にて、歯学部統合と法人合併についての協議開始を決定したという。
                            br
                            | 慶応義塾大学は2008年に共立薬科大学を統合し、2001年には看護医療学部を新設している。今回の合併が成立すれば医・歯・薬・看護と揃うことになり、かなり大きなインパクトとなるだろう。この合併により、医科歯科の連携強化や、歯科領域へのテクノロジー応用による研究や教育の推進が期待される。
                        .news__newsImgWrapper
                            img.news__newsImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-01.png`, alt="")
                            

                    ul.pageLink
                        li.pageLink__item 
                            a.pageLink__link 戻る
                        li.pageLink__item 
                            a.pageLink__link 一覧に戻る
                        li.pageLink__item
                            a.pageLink__link 次へ


        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |
