.secCaseStudy {
  border-bottom: 1px solid $gray;
  padding: 115px 0 120px;
  background: $lightGray;

  @include u-mqMax {
    padding: 16vw 0;
  }

  &__content {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 9.6vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__caseList {
    margin-bottom: 64px;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 24px;
    row-gap: 24px;

    @include u-mqMax {
      grid-template-columns: auto;
      grid-template-rows: auto;
      row-gap: 4.267vw;
    }
  }

  &__caseItem {
    border-bottom: 10px solid #f8d32f;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    max-width: 384px;
    background: $white;
    list-style: none;

    @include u-mqMax {
      max-width: 100%;
    }
  }

  &__caseItemImg {
    width: 100%;
  }

  &__caseItemNumber {
    border-radius: 17px;
    padding: 8px 0;
    position: relative;
    left: 24px;
    display: block;
    transform: translateY(-50%);
    max-width: 95px;
    background: $yellow;
    font-size: 1.3rem;
    font-family: $Transat;
    text-align: center;

    @include u-mqMax {
      border-radius: 4.533vw;
      padding: 2.133vw 0;
      max-width: 21.333vw;
      font-size: 1rem;
    }
  }

  &__caseItemDetails {
    padding: 5px 32px 20px;
  }

  &__caseItemDescription {
    margin-bottom: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $NotosansJP;
    line-height: 1.73;

    @include u-mqMax {
      font-size: 1.4rem;
    }
  }

  &__caseItemBtns {
    border-bottom: 1px dashed $gray;
    padding-bottom: 25px;
    display: block;
  }

  &__casetItemBtn {
    border: 1px solid $gray;
    padding: 8px 12px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: $NotosansJP;

    &:nth-child(1) {
      margin-right: 13px;
    }

    @include u-mqMax {
      padding: 2.133vw 3.2vw;
    }
  }

  &__caseItemDate {
    margin: 20px 0 0;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: $NotosansJP;
    color: $textLightGray;
  }

  &__caseBtn {
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px 48px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    width: 448px;
    display: block;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: $Transat;
    background: $yellow;
    transition: 0.3s ease-in-out;
    @include u-flex($ai: center, $jc: space-between);

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    @include u-mqMax {
      border-radius: 1.333vw;
      padding: 5.6vw 8.533vw;
      width: 82.933vw;
      font-size: 1.4rem;
    }
  }
}
