.secCompany {
  border-bottom: 1px solid $gray;
  padding: 115px 0 120px;
  font-family: $NotosansJP;

  @include u-mqMax {
    margin: 0 4.267vw;
  }

  &__content {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 9.6vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__companyInfoCont {
    border: 6px solid $yellow;
    margin: 0 auto;
    padding: 64px 120px;
    max-width: 1200px;

    @include u-mqMax {
      padding: 10.667vw 6.4vw;
    }
  }

  &__companyInfoList {
    padding: 0;
    list-style: none;
  }

  &__companyInfoItem {
    padding: 20px 0;
    @include u-flex;

    @include u-mqMax {
      padding: 6.4vw 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $lightGray2;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__companyInfoItemLabel {
    width: 148px;
    min-width: 148px;
    font-size: 1.4rem;
    font-weight: 700;

    @include u-mqMax {
      width: 30.667vw;
      min-width: 30.667vw;
      font-size: 1.3rem;
    }
  }

  &__companyInfoItemText {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }
}
