.secContact {
  margin: 115px 0 170px;
  font-family: $NotosansJP;

  @include u-mqMax {
    margin: 16vw 0 32vw;
  }

  &__content {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 9.6vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__contactNoteText {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    text-align: center;
  }

  &__contactList {
    border-bottom: 1px solid $lightGray3;
    margin: 0 auto;
    padding: 64px 0;
    max-width: 960px;
  }

  &__contactItem {
    @include u-flex;

    @include u-mqMax {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @include u-mqMax {
        margin-bottom: 10.133vw;
      }
    }
  }

  &__contactLabelWrap {
    margin: 0;
    width: 288px;
    height: 30px;
    @include u-flex($ai: center);

    @include u-mqMax {
      margin-bottom: 5.333vw;
    }
  }

  &__contactRequired {
    margin-right: 16px;
    padding: 6px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    background: $red;
    color: $white;

    &.u-white {
      border: 1px solid $lightGray3;
      background: $white;
      color: $gray2;
    }
  }

  &__contactChecklabel {
    margin: 0;
    padding-left: 46px;
    position: relative;
    height: 30px;
    line-height: 1.85;
    cursor: pointer;
    @include u-flex($ai: center);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__contactInput {
    position: absolute;
    opacity: 0;

    &:checked ~ .u-checkmark {
      background-color: $yellow;

      &:before {
        border-left: 4px solid $black;
        border-bottom: 4px solid $black;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 8px;

        transform: translate(-50%, -60%) rotate(-45deg);
      }
    }
  }

  &__checkmark {
    border: 1px solid $lightGray3;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: $lightGray;

    &:hover {
      background: $yellow;
    }
  }

  &__contactInputText {
    border: 1px solid $lightGray3;
    padding: 0 32px;
    height: 50px;
    width: 100%;
    max-width: 672px;
    display: inline-block;
    background: $lightGray;
  }

  &__contactTextArea {
    border: 1px solid $lightGray3;
    padding: 15px 32px;
    width: 100%;
    height: 320px;
    max-width: 672px;
    background: $lightGray;
    resize: none;
  }

  &__agreementCont {
    padding-top: 64px;
    text-align: center;

    @include u-mqMax {
      padding-top: 10.667vw;
    }
  }

  &__agreementLink {
    text-decoration: underline;
  }

  &__agreementText {
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 2;

    @include u-mqMax {
      margin-bottom: 6.4vw;
      font-size: 1.3rem;
      text-align: left;
    }
  }

  &__agreementCheckWrap {
    display: inline-block;
  }

  &__agreementLabel {
    padding-left: 45px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    @include u-flex;

    @include u-mqMax {
      padding-left: 12vw;
    }
  }

  &__agreementInput {
    height: 30px;
  }

  &__agreementInput {
    position: absolute;
    opacity: 0;

    &:checked ~ .u-checkboxMark {
      background-color: $yellow;

      &:before {
        border-left: 4px solid $black;
        border-bottom: 4px solid $black;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 8px;

        transform: translate(-50%, -60%) rotate(-45deg);
      }
    }
  }

  &__agreementCheckmark {
    border: 1px solid $lightGray3;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: $lightGray;
    cursor: pointer;

    &:hover {
      background: $yellow;
    }

    @include u-mqMax {
      height: 8vw;
      width: 8vw;
    }
  }

  &__agreementBtn {
    border: none;
    border-radius: 5px;
    margin-top: 64px;
    padding: 30px 48px;
    width: 448px;
    font-size: 1.6rem;
    font-weight: 700;
    background: $lightGray4;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 15px 0px rgba(0 0 0 / 10%);

    @include u-mqMax {
      border-radius: 1.333vw;
      padding: 5.6vw 8.533vw;
      width: 82.933vw;
      font-size: 1.4rem;
    }
  }
}
