.secFaq {
  padding: 115px 0 120px;
  background: $lightGray;
  &__content {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 9.6vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__faqWrapper {
    margin: 0 auto;
    padding: 64px 120px;
    background: $white;

    @include u-mqMax {
      padding: 6.667vw 4.267vw 10.667vw;
    }
  }

  &__faqDropBtnWrapper {
    margin-bottom: 24px;
    text-align: right;

    @include u-mqMax {
      @include u-flex($ai: center, $jc: space-between);
    }
  }

  &__faqdropBtnTitle {
    margin-right: 16px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $NotosansJP;

    @include u-mqMax {
      margin: 0;
    }
  }

  &__faqSelect {
    padding: 15px 23px 15px 15px;
    width: 225px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $NotosansJP;
    border: 1px solid #ddd;
    background-image: url("../images/common/icon_arrow_down.svg");
    background-size: 8px auto;
    background-position: right 17px center;
    background-repeat: no-repeat;
    appearance: none;

    @include u-mqMax {
      padding: 2.933vw 0 2.933vw 4.267vw;
      width: 73.333vw;
    }
  }

  &__faqList {
    margin-bottom: 60px;
    padding: 0;
    list-style: none;

    @include u-mqMax {
      margin-bottom: 10.667vw;
    }
  }

  &__faqItem {
    border-bottom: 1px solid $gray;
    padding: 32px 0;

    @include u-mqMax {
      padding: 8.533vw 0;
    }

    &:nth-child(1) {
      border-top: 1px solid $gray;
    }
  }

  &__faqItemQuestion {
    margin-bottom: 17px;
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $NotosansJP;
    line-height: 1.5;
    cursor: pointer;
    @include u-flex;

    @include u-mqMax {
      padding-right: 10.667vw;
      font-size: 1.6rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      right: 0;
      width: 20px;
      height: 2px;
      background: $yellow;

      @include u-mqMax {
        top: 2.933vw;
        width: 6.4vw;
        height: 0.533vw;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 9px;
      width: 2px;
      height: 20px;
      background: $yellow;
      transition: all 0.3s ease-in-out;

      @include u-mqMax {
        right: 2.933vw;
        height: 6.4vw;
        width: 0.533vw;
      }
    }

    &.is-active {
      &::after {
        opacity: 0;
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }

  &__faqItemNumber {
    margin-right: 36px;
    font-size: 3.2rem;
    font-family: $Transat;
    color: $yellow;
    line-height: 0.5;

    @include u-mqMax {
      font-size: 2.8rem;
    }
  }

  &__faqItemAnswerPanel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &__faqItemAnswerWrap {
    border-radius: 5px;
    margin: 0 0 24px 84px;
    padding: 24px;
    background: $lightGray;

    @include u-mqMax {
      margin: 0 0 6.4vw 16vw;
      padding: 6.4vw;
    }
  }

  &__faqItemAnswer {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: $NotosansJP;
    line-height: 2;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }

  &__faqItemBtn {
    border: 1px solid $gray;
    margin: 0 0 0 84px;
    padding: 8px 12px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $NotosansJP;
    background: $white;

    @include u-mqMax {
      margin-left: 16vw;
    }
  }

  &__faqBtn {
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px 48px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    width: 448px;
    display: block;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: $Transat;
    background: $yellow;
    transition: 0.3s ease-in-out;
    @include u-flex($ai: center, $jc: space-between);

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    @include u-mqMax {
      border-radius: 1.333vw;
      padding: 5.6vw 8.533vw;
      width: 82.933vw;
      font-size: 1.4rem;
    }
  }

  &__faqBtnText {
    font-size: 1.6rem;
    font-weight: 700;
  }

  @include u-mqMax {
    font-size: 1.4rem;
  }
}
