.secKv {
  &__contentTexts {
    padding: 167px 0 100px 176px;
    position: relative;
    width: 100%;

    @include u-mqMax {
      padding: 52vw 0 21.333vw 4.267vw;
    }
  }

  &__kvBg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/kv/kv_bg-pc.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -5;

    @include u-mqMax {
      background-image: url("../images/kv/kv_bg-sp.png");
    }
  }

  &__subheaderText {
    margin-bottom: 44px;
    font-size: 1.5rem;
    font-family: $Transat;
    font-weight: 500;
    text-transform: uppercase;

    @include u-mqMax {
      margin-bottom: 10.667vw;
      font-size: 1.2rem;
    }
  }

  &__headerText {
    font-size: 4rem;
    font-weight: 700;
    font-family: $NotosansJP;
    line-height: 1.25;
    letter-spacing: 0.025em;

    @include u-mqMax {
      font-size: 2.8rem;
      line-height: 1.57;
      letter-spacing: 0.05em;
    }

    &:nth-child(3) {
      position: relative;
      display: inline;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 24px;
        background: $yellow;
        z-index: -1;

        @include u-mqMax {
          height: 4.267vw;
        }
      }
    }
  }

  &__contentSlider {
    margin-bottom: 83px;

    @include u-mqMax {
      margin-bottom: 9.067vw;
    }
  }

  .kvSwiper img {
    width: 280px;

    @include u-mqMax {
      width: 41.067vw;
    }
  }

  &__bannerSlider {
    padding-bottom: 120px;
  }

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .bannerSwiper img {
    width: 340px;
    @include u-mqMax {
      width: 82.933vw;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  /* this is the important part */
  .swiper-container .swiper-slide {
    width: auto;
  }

  .prev-icon,
  .next-icon {
    margin: 0 auto;
    text-align: center;
    background-image: url("../images/common/icon_prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 12px;
    height: 9px;
  }

  .swiper-button-next {
    transform: rotate(180deg);
    right: 132px;
  }

  .swiper-button-prev {
    left: 132px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: $yellow;

    @include u-mqMax {
      display: none;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .bannerSwiperWrapper {
    padding: 37px 0;
  }

  .swiper-pagination-bullets {
    bottom: 0;
  }

  .swiper-pagination-bullet-active {
    background: $black;
  }
}
