.secNews {
  border-bottom: 1px solid $gray;
  &__content {
    margin: 0 auto;
    padding: 115px 0 120px;
    max-width: 960px;

    @include u-mqMax {
      margin: 0 4.267vw;
      padding: 16vw 0;
    }
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 9.6vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__newsList {
    margin-bottom: 80px;
    padding: 0;

    @include u-mqMax {
      margin-bottom: 10.667vw;
    }
  }

  &__newsItem {
    border-bottom: 1px solid $gray;
    padding: 20px 0;
    position: relative;
    list-style: none;

    &:nth-child(1) {
      padding-top: 0;
    }

    @include u-mqMax {
      padding: 5.333vw 0;
    }
  }

  &__newsItemLink {
    color: $darkGray;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active {
      text-decoration: none;
      color: $darkGray;
      opacity: 0.6;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 9px;
      background-image: url("../images/common/icon_next.svg");
      background-repeat: no-repeat;

      @include u-mqMax {
        background: none;
      }
    }
  }

  &__newsItemDate {
    margin-right: 40px;
    font-size: 1.4rem;
    font-family: $Transat;

    @include u-mqMax {
      font-size: 1.4rem;
    }
  }

  &__newsItemText {
    font-size: 1.4rem;
    font-family: $NotosansJP;

    @include u-mqMax {
      font-size: 1.3rem;
      line-height: 2;
    }
  }

  &__moreNewsBtn {
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px 48px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    width: 448px;
    display: block;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: $Transat;
    background: $yellow;
    transition: 0.3s ease-in-out;
    @include u-flex($ai: center, $jc: space-between);

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    @include u-mqMax {
      border-radius: 1.333vw;
      padding: 5.6vw 8.533vw;
      width: 82.933vw;
      font-size: 1.4rem;
    }
  }
}
