.secPartner {
  border-bottom: 1px solid $gray;
  padding: 115px 0 120px;
  background: $lightGray;

  @include u-mqMax {
    padding: 16vw 0;
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 10.667vw;
      font-size: 2.4rem;
    }
  }

  &__memberList {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 1200px;

    @include u-mqMax {
      grid-template-columns: auto;
      grid-template-rows: auto;
      margin: 0 4.267vw;
    }
  }

  &__memberItem {
    border-bottom: 10px solid $yellow;
    border-radius: 5px;
    padding: 28px 32px;
    max-width: 384px;
    text-align: center;
    background: $white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    @include u-mqMax {
      border-bottom: 2.667vw solid $yellow;
      padding: 6.4vw 8.533vw;
      max-width: 100%;
    }
  }

  &__memberBasicInfo {
    margin-bottom: 24px;

    @include u-mqMax {
      margin-bottom: 4.267vw;
      @include u-flex($ai: center);
    }
  }

  &__memberPhoto {
    margin-bottom: 24px;
    max-width: 220px;

    @include u-mqMax {
      margin-right: 6.4vw;
      max-width: 32vw;
    }
  }

  &__memberPosition01 {
    margin-bottom: 4px;
    font-size: 1.3rem;
    font-family: $NotosansJP;
    font-weight: 400;

    @include u-mqMax {
      margin-bottom: 2.133vw;
      font-size: 1.2rem;
    }
  }

  &__memberName {
    margin-bottom: 8px;
    font-size: 1.8rem;
    font-family: $NotosansJP;
    font-weight: 700;

    @include u-mqMax {
      margin-bottom: 2.133vw;
      font-size: 1.6rem;
    }
  }

  &__memberPosition02 {
    margin: 0;
    font-size: 1.3rem;
    font-family: $NotosansJP;
    color: $yellow;

    @include u-mqMax {
      font-size: 1.2rem;
    }
  }

  &__memberDescription {
    margin: 0;
    font-size: 1.4rem;
    font-family: $NotosansJP;
    text-align: left;
    line-height: 2;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }
}
