.secSeminar {
  padding: 115px 0 120px;
  background: $lightGray;
  overflow: hidden;

  @include u-mqMax {
    padding: 16vw 0;
  }

  &__content {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;

    @include u-mqMax {
      margin-bottom: 10.667vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__seminarList {
    position: relative;

    &::before {
      content: "";
      width: calc((100vw - 1200px) / 2);
      height: 120%;
      display: block;
      position: absolute;
      top: -15px;
      left: 0;
      transform: translateX(-100%);
      background: $lightGray;
      z-index: 2;

      @include u-mqMax {
        width: 0;
      }
    }
  }

  &__seminarItem {
    border-bottom: 10px solid $yellow;
    border-radius: 5px;
    max-width: 282px;
    background: $white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    @include u-mqMax {
      width: 82.933vw;
      max-width: 82.933vw;
    }
  }

  &__seminarInfoWrapper {
    padding: 32px;

    @include u-mqMax {
      padding: 6.4vw;
    }
  }

  &__seminarImg {
    width: 100%;
  }

  &__seminarDescription {
    margin-bottom: 24px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.57;

    @include u-mqMax {
      margin-bottom: 4.267vw;
    }
  }

  &__dateWrapper {
    border-bottom: 1px dashed $gray;
    margin-bottom: 24px;
    @include u-flex($jc: space-between);

    @include u-mqMax {
      margin-bottom: 4.267vw;
    }
  }

  &__dateLabel {
    font-size: 1.2rem;
    font-family: $NotosansJP;
    font-weight: 700;
  }

  &__date {
    margin: 0;
    padding-bottom: 24px;
    font-size: 1.2rem;
    font-family: $NotosansJP;
    line-height: 2;

    @include u-mqMax {
      padding-bottom: 4.267vw;
    }
  }

  &__seminarBtn {
    border: 1px solid $gray;
    padding: 8px 12px;
    display: inline-block;
    font-size: 1.2rem;
    font-family: $NotosansJP;
    color: $black;
  }

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .bannerSwiper img {
    width: 340px;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  /* this is the important part */
  .swiper-container .swiper-slide {
    width: auto;
  }

  .prev-icon,
  .next-icon {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/common/icon_prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 12px;
    height: 9px;
  }

  .seminar-button-next {
    transform: rotate(180deg);
    right: 0;
  }

  .seminar-button-prev {
    right: 76px;
  }

  .seminar-button-next,
  .seminar-button-prev {
    border-radius: 50%;
    position: absolute;
    top: -124px;
    width: 60px;
    height: 60px;
    background-color: $yellow;
    z-index: 2;

    @include u-mqMax {
      display: none;
    }
  }

  .seminar-button-next.swiper-button-disabled,
  .seminar-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination-bullets {
    top: -102px;
    text-align: right;
    left: -168px;

    @include u-mqMax {
      top: 123.4vw;
      left: 0;
      text-align: center;
    }
  }

  .swiper-pagination-bullet-active {
    background: $black;
  }
}
