.secService {
  padding: 120px 0 156px;

  @include u-mqMax {
    padding: 16vw 0;
  }

  &__content {
    margin: 0 auto;
    max-width: 1200px;
    @include u-flex($jc: space-between);

    @include u-mqMax {
      margin: 0 4.267vw;
      display: block;
    }
  }

  &__subTitle {
    font-size: 2rem;
    font-family: $Transat;
    font-weight: 700;
    text-transform: uppercase;
    color: $yellow;

    @include u-mqMax {
      margin-bottom: 3.2vw;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $NotosansJP;

    @include u-mqMax {
      margin-bottom: 9.6vw;
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__serviceTextWrapper {
    max-width: 837px;
  }

  &__serviceText {
    font-size: 1.4rem;
    font-family: $NotosansJP;
    line-height: 2;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }
}
