.secServiceProvided {
  padding: 200px 0 120px;

  @include u-mqMax {
    padding: 33.067vw 0 16vw;
  }

  &__content {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__titleWrapper {
    margin-bottom: 64px;
    text-align: center;

    @include u-mqMax {
      margin-bottom: 8.8vw;
    }
  }

  &__title {
    position: relative;
    display: inline;
    font-size: 2.8rem;
    font-weight: 700;
    font-family: $NotosansJP;
    z-index: 2;

    @include u-mqMax {
      font-size: 2rem;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 12px;
      background: $yellow;
      z-index: -1;

      @include u-mqMax {
        height: 2.133vw;
      }
    }
  }

  &__serviceList {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 24px;
    row-gap: 24px;

    @include u-mqMax {
      grid-template-columns: auto;
      grid-template-rows: auto;
      row-gap: 4.267vw;
    }
  }

  &__serviceItem {
    border: 6px solid $yellow;
    border-radius: 5px;
    padding: 32px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    max-width: 588px;
    list-style: none;

    @include u-mqMax {
      padding: 6.4vw;
      max-width: 100%;
    }
  }

  &__itemTitle {
    margin-bottom: 24px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $NotosansJP;

    @include u-mqMax {
      font-size: 1.6rem;
    }
  }

  &__itemTitleNumber {
    margin-right: 16px;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $Transat;
    line-height: 1;
    color: $yellow;

    @include u-mqMax {
      font-size: 2.8rem;
    }
  }

  &__itemDescription {
    border-bottom: 1px solid $gray;
    margin: 0;
    padding-bottom: 24px;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: $NotosansJP;
    line-height: 2;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }

  &__itemList {
    padding: 24px 0 0;
    list-style-type: disc;
  }

  &__itemListItem {
    margin-left: 22px;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: $NotosansJP;
    line-height: 1.85;

    @include u-mqMax {
      font-size: 1.3rem;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &.u-dashed {
      position: relative;
      &::before {
        position: absolute;
        top: 12px;
        display: block;
        width: 100%;
        height: 1px;
        content: "";
        background-image: url("../images/common/img_dashed.png");
        background-size: contain;
        background-repeat: repeat-x;
        z-index: -2;
      }
    }
  }

  &__itemSpan {
    background: $white;

    &:nth-child(1) {
      padding-right: 16px;
    }

    &:nth-child(2) {
      padding-left: 15px;
      position: absolute;
      right: 0;
    }
  }

  &__itemNote {
    margin-bottom: 24px;
    font-size: 1.2rem;
    color: $textGray;
    opacity: 0.5;

    @include u-mqMax {
      font-size: 1.2rem;
    }
  }
}
