.secStrength {
  background: $yellow;

  &__content {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__pluskLogo {
    margin: 0 auto;
    position: relative;
    top: -36px;
    display: block;
    max-width: 712px;

    @include u-mqMax {
      max-width: 100%;
    }
  }

  &__titleWrapper {
    margin: 59px 0 -17px;
    text-align: center;
  }

  &__title {
    position: relative;
    display: inline;
    font-size: 2.8rem;
    font-family: $NotosansJP;
    z-index: 2;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 12px;
      background: $white;
      z-index: -1;
    }
  }

  &__strengthList {
    padding: 0;
    position: relative;
    bottom: -80px;
    @include u-flex($jc: space-between);
    max-width: 1200px;
    z-index: 4;

    @include u-mqMax {
      bottom: -17.333vw;
      display: block;
    }
  }

  &__strengthItem {
    border: 6px solid $lightYellow;
    border-radius: 5px;
    padding: 24px 32px 32px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    max-width: 282px;
    list-style: none;
    background: $white;

    @include u-mqMax {
      padding: 6.4vw;
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 4.267vw;
      }
    }
  }

  &__itemTitleWrapper {
    margin-bottom: 16px;
    @include u-flex($ai: center);
  }

  &__itemTitle {
    margin-right: 8px;
    font-size: 1.4;
    font-weight: 700;
    font-family: $Transat;
    text-transform: uppercase;
  }

  &__itemTitleNumber {
    margin: 0;
    font-size: 3.7rem;
    font-weight: 700;
    font-family: $Transat;
  }

  &__itemDescription {
    margin: 0;
    font-size: 1.4rem;
    font-family: $NotosansJP;
    font-weight: 400;
    line-height: 2;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }
}
