.caseStudy {
  padding-bottom: 120px;
  font-family: $Transat;

  &__pageTitleBanner {
    padding: 75px 0 64px;
    position: relative;

    @include u-mqMax {
      margin-top: 18.667vw;
      padding: 16vw 0 10.667vw;
    }
  }

  &__pageTitle {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__bannerBg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/common/bg_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -5;

    @include u-mqMax {
      background: url("../images/common/bg_banner-sp.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $yellow;

    @include u-mqMax {
      font-size: 1.5rem;
    }
  }

  &__subTitle {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;

    @include u-mqMax {
      font-size: 2.4rem;
    }
  }

  &__caseContent {
    border-radius: 5px;
    margin: 0 auto;
    padding: 32px 0 98px;
    max-width: 1200px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  }

  &__case {
    margin: 60px 120px 0;

    @include u-mqMax {
      margin: 9.867vw 4.267vw 0;
    }
  }

  &__caseDateWrapper {
    margin-bottom: 32px;
    @include u-flex($ai: center);

    @include u-mqMax {
      margin-bottom: 6.4vw;
    }
  }

  &__caseNum {
    border-radius: 17px;
    margin-right: 24px;
    padding: 8px 16px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3;
    background: $yellow;

    @include u-mqMax {
      border-radius: 4.533vw;
      margin-right: 4.267vw;
      font-size: 1rem;
      padding: 2.133vw 4.267vw;
    }
  }

  &__caseDate {
    font-size: 1.4rem;
    font-family: $NotosansJP;
    line-height: 1.7;
    color: $gray4;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }

  &__caseTitle {
    margin-bottom: 24px;
    padding-left: 30px;
    position: relative;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: $NotosansJP;
    line-height: 1.5;

    @include u-mqMax {
      margin-bottom: 4.267vw;
      padding-left: 4.267vw;
      font-size: 2rem;
    }

    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 6px;
      height: 100%;
      background: $yellow;

      @include u-mqMax {
        width: 1.067vw;
      }
    }
  }

  &__caseBtnsWrapper {
    margin-bottom: 64px;
    @include u-flex;

    @include u-mqMax {
      margin-bottom: 10.667vw;
    }
  }

  &__caseBtn {
    border: 1px solid $lightGray4;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-family: $NotosansJP;

    @include u-mqMax {
      padding: 2.133vw 3.2vw;
    }

    &:nth-child(1) {
      margin-right: 13px;

      @include u-mqMax {
        margin-right: 3.2vw;
      }
    }
  }

  &__caseImgWrapper {
    margin-top: 30px;
  }

  &__caseImg {
    border-radius: 5px;
    width: 100%;

    @include u-mqMax {
      border-radius: 1.333vw;
      margin-top: 8vw;
    }
  }

  &__caseInfoTitle {
    border-bottom: 6px solid $yellow;
    margin: 64px 0 0;
    padding-bottom: 5px;
    font-size: 2.4rem;
    font-family: $Roboto;
    font-weight: 700;

    @include u-mqMax {
      border-bottom: 1.067vw solid $yellow;
      margin-top: 10.667vw;
      font-size: 1.6rem;
    }
  }

  &__caseInfoText {
    margin: 40px 0 0;
    font-size: 1.4rem;
    line-height: 2;
    font-family: $NotosansJP;

    @include u-mqMax {
      margin-top: 8.533vw;
      font-size: 1.3rem;
    }
  }

  &__caseInfoTextList {
    border-radius: 5px;
    margin: 30px 0 0;
    padding: 24px;
    font-size: 1.4rem;
    font-family: $NotosansJP;
    line-height: 2;
    background: $lightGray;
    color: $black;

    @include u-mqMax {
      border-radius: 1.333vw;
      margin-top: 6.4vw;
      padding: 6.4vw 4.267vw;
    }
  }

  &__caseInfoTextItem {
    margin-left: 24px;
    font-size: 1.4rem;
    font-family: $NotosansJP;

    @include u-mqMax {
      margin-left: 4.267vw;
      font-size: 1.3rem;
    }

    &::marker {
      font-size: 2rem;
      font-weight: 700;
      font-family: $Transat;
      color: $yellow;

      @include u-mqMax {
        font-size: 1.8rem;
      }
    }
  }

  &__caseInfoDescription {
    margin: 30px 0 0;
    font-size: 1.4rem;
    font-family: $NotosansJP;
    line-height: 2;

    @include u-mqMax {
      margin-top: 6.4vw;
      font-size: 1.3rem;
    }

    &.u-textLink {
      text-decoration: underline;
    }
  }
}
