- const siteTitle = `Website Name`
    if page_title==siteTitle
        title #{siteTitle}
    else
        title #{page_title} | #{siteTitle}

meta(charset=`utf-8`)
meta(http-equiv=`X-UA-Compatible` content=`IE=Edge`)
meta(name=`format-detection` content=`telephone=no`)
meta(name=`viewport`, content=`width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover`)
meta(name=`keywords` content=`${meta_keywords}`)
meta(name=`description` content=`${meta_description}`)
meta(property=`og:title` content=`${meta_title}`)
meta(property=`og:type` content=`website`)
meta(property=`og:description` content=`${meta_description}`)
meta(property=`og:url` content=`${meta_og_url}`)
meta(property=`og:image` content=`${relativePath}/_assets/images/_etc/ogp.jpg`)
meta(property=`fb:app_id` content=`XXXXXXXXXXXXXXXX`)
meta(name=`twitter:card` content=`summary`)
meta(name=`twitter:site` content=`@XXXXX`)
meta(name=`twitter:creator` content=`@XXXXX`)
meta(name=`twitter:image:src` content=`${relativePath}/_assets/images/_etc/ogp.jpg`)
link(rel=`icon` type="image/x-icon" href=`${relativePath}/_assets/images/_etc/favicon.png`)
link(rel=`icon` type="image/png" href=`${relativePath}/_assets/images/_etc/favicon.png`)
link(rel=`apple-touch-icon` type="image/png" href=`${relativePath}/_assets/images/_etc/custom-icon.png`)
|
|

// Styles

if isWowEffects
    link(rel=`stylesheet` href=`https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css`)
if isJquery
    link(rel=`stylesheet` media=`print,screen` href=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css`)
if isSwiper
    link(rel=`stylesheet` media=`print,screen` href=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/css/swiper.min.css`)
if isBootstrap
    link(rel=`stylesheet` media=`print,screen` href=`https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css` integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
//- ######## DEFAULT STYLING #############
link(rel=`stylesheet` media=`print,screen` href=`${relativePath}/_assets/css/style.css`)
//- ######## / DEFAULT STYLING #############
