header.siteHeader
    .siteHeader__logo
        a.siteHeader__logoLink(href=`${relativePath}`)
            img.siteHeader__logoImg(src=`${relativePath}/_assets/images/common/logo.png`, alt="")
    
    nav.siteHeader__nav.js-nav
        ul.siteHeader__navList
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#partners`) PARTNERS
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#seminar`) SEMINAR
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#news`) NEWS
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#service`) SERVICE
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#caseStudy`) CASE STUDY
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#faq`) FAQ
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#company`) COMPANY
            li.siteHeader__navItem
                a.siteHeader__navLink(href=`${relativePath}/#contact`) CONTACT
    
            //- social media PC
            .siteHeader__socialMedia.u-spDb
                a.siteHeader__socialLink(href="") 
                    img.siteHeader__socialIcon(src=`${relativePath}/_assets/images/common/icon_fb.png`, alt="facebook icon")
                a.siteHeader__socialLink(href="") 
                    img.siteHeader__socialIcon(src=`${relativePath}/_assets/images/common/icon_twitter.png`, alt="twitter icon")

    //- social media SP
    .siteHeader__socialMedia.u-pcDb
        a.siteHeader__socialLink(href="") 
            img.siteHeader__socialIcon(src=`${relativePath}/_assets/images/common/icon_fb.png`, alt="facebook icon")
        a.siteHeader__socialLink(href="") 
            img.siteHeader__socialIcon(src=`${relativePath}/_assets/images/common/icon_twitter.png`, alt="twitter icon")
        
    .siteHeader__burgerBtn.u-spDb.js-bugerBtn
        span.siteHeader__burgerLine
        span.siteHeader__burgerLine
        span.siteHeader__burgerLine
        