footer.siteFooter
    .siteFooter__cont

        //- back to top
        a.siteFooter__toTop.js-toTop(href="#")
            img.siteFooter__arrowUpIcon(src=`${relativePath}/_assets/images/common/icon_arrow-up.svg`, alt="twitter icon")

        .siteFooter__logo
            img.siteFooter__logoImg(src=`${relativePath}/_assets/images/common/logo.png`, alt="plusk logo")

        .siteFooter__socialIcons
            a.siteFooter__socialLink(href="")
                img.siteFooter__socialIcon(src=`${relativePath}/_assets/images/common/icon_fb-gray.svg`, alt="facebook icon")
            a.siteFooter__socialLink(href="")
                img.siteFooter__socialIcon(src=`${relativePath}/_assets/images/common/icon_twitter-gray.svg`, alt="twitter icon")

        ul.siteFooter__linkList
            li.siteFooter__linkItem 
                a.siteFooter__link(href="") プライバシーポリシー
            li.siteFooter__linkItem
                a.siteFooter__link(href="") オプトアウト
            li.siteFooter__linkItem
                a.siteFooter__link(href="") 個人情報を共同利用する企業およびサービス


    p.siteFooter__copyrights &copy; PLUSK

|
|

// Scripts
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)
if isBootstrap
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
