.news {
  padding-bottom: 120px;
  font-family: $Transat;

  &__pageTitleBanner {
    padding: 75px 0 64px;
    position: relative;

    @include u-mqMax {
      margin-top: 18.667vw;
      padding: 16vw 0 10.667vw;
    }
  }

  &__pageTitle {
    margin: 0 auto;
    max-width: 1200px;

    @include u-mqMax {
      margin: 0 4.267vw;
    }
  }

  &__bannerBg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/common/bg_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -5;

    @include u-mqMax {
      background: url("../images/common/bg_banner-sp.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $yellow;

    @include u-mqMax {
      font-size: 1.5rem;
    }
  }

  &__subTitle {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;

    @include u-mqMax {
      font-size: 2.4rem;
    }
  }

  &__newsContent {
    border-radius: 5px;
    margin: 0 auto;
    padding: 32px 0 98px;
    max-width: 1200px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  }

  &__news {
    margin: 60px 120px 0;

    @include u-mqMax {
      margin: 9.867vw 4.267vw 0;
    }
  }

  &__newsDateWrapper {
    margin-bottom: 32px;

    @include u-mqMax {
      margin-bottom: 6.4vw;
    }
  }

  &__newsDate {
    font-size: 1.4rem;
    font-family: $NotosansJP;
    line-height: 1.7;
    color: $gray4;

    @include u-mqMax {
      font-size: 1.3rem;
    }
  }

  &__newsTitle {
    margin-bottom: 24px;
    padding-left: 30px;
    position: relative;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: $NotosansJP;
    line-height: 1.5;

    @include u-mqMax {
      margin-bottom: 4.267vw;
      padding-left: 4.267vw;
      font-size: 2rem;
    }

    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 6px;
      height: 100%;
      background: $yellow;

      @include u-mqMax {
        width: 1.067vw;
      }
    }
  }

  &__newsDescription {
    margin: 30px 0 0;
    font-size: 1.4rem;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 2;

    @include u-mqMax {
      margin-top: 6.4vw;
      font-size: 1.3rem;
    }
  }

  &__newsImgWrapper {
    margin-top: 30px;
  }

  &__newsImg {
    border-radius: 5px;
    width: 100%;

    @include u-mqMax {
      border-radius: 1.333vw;
      margin-top: 8vw;
    }
  }
}
