//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'

//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = true
- const isBootstrap = true


//- CONTENT DATA
-
    //- Accordions
    const accordions = [
        { title: 'Title 1', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.' },
        { title: 'Title 2', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.' },
        { title: 'Title 3', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.' },
    ];

    //- KV Slider
    const kvSlider = [
        { image: 'topKVSlide_01.jpg', text: 'Slide 1' },
        { image: 'topKVSlide_02.jpg', text: 'Slide 2' },
        { image: 'topKVSlide_03.jpg', text: 'Slide 3' },
    ];

    //- Custom select
    const countries = [
        { name: 'Australia', value: '0'},
        { name: 'Philippines', value: '1'},
        { name: 'Japan', value: '2'},
        { name: 'Mexico', value: '3'},
    ];



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body.topPage
        //- HEADER
        include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        //- MAIN CONTENT
        main.siteContent(role="main")
            include ./topPage/_kvSec.pug
            include ./topPage/_partnerSec.pug
            include ./topPage/_seminarSec.pug
            include ./topPage/_newsSec.pug
            include ./topPage/_serviceSec.pug
            include ./topPage/_strengthSec.pug
            include ./topPage/_serviceProvidedSec.pug
            include ./topPage/_caseStudySec.pug
            include ./topPage/_faqSec.pug
            include ./topPage/_companySec.pug
            include ./topPage/_contactSec.pug


        //- FOOTER
        include ./_inc/_siteFooter.pug
