section.secCaseStudy#caseStudy
    .secCaseStudy__content
        p.secCaseStudy__subTitle Case Study
        h2.secCaseStudy__title 実績のご紹介

        ul.secCaseStudy__caseList
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail01.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 063
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail02.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 062
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail03.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 063
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail01.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 063
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail02.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 062
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail03.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 063
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail01.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 063
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail02.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 062
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日
            li.secCaseStudy__caseItem.js-caseItem
                img.secCaseStudy__caseItemImg(src=`${relativePath}/_assets/images/caseStudy/caseStudy_img-thumbnail03.png`, alt="case study image")
                span.secCaseStudy__caseItemNumber CASE. 063
                .secCaseStudy__caseItemDetails
                    p.secCaseStudy__caseItemDescription 仮：地域に根ざした診療〜継承する形での開業を。小児科クリニック院長F氏への開業支援ケース。
                    .secCaseStudy__caseItemBtns
                        span.secCaseStudy__casetItemBtn 開業
                        span.secCaseStudy__casetItemBtn 医師の資産形成
                    p.secCaseStudy__caseItemDate 2021年2月28日

        button.secCaseStudy__caseBtn.js-caseBtn
            span.secCaseStudy__caseBtnText Load more
            img.secCaseStudy__caseBtnIcon(src=`${relativePath}/_assets/images/common/icon_plus.svg`, alt="plus icon")