section.secCompany
    .secCompany__content
        p.secCompany__subTitle Company
        h2.secCompany__title 企業情報

        .secCompany__companyInfoCont
            ul.secCompany__companyInfoList
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 会社名
                    span.secCompany__companyInfoItemText 株式会社エスエス・ファシリティーズ
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 所在地
                    span.secCompany__companyInfoItemText 〒160-0022 東京都新宿区新宿5-17-5 ラウンドクロス新宿5丁目ビル 5F
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 設立
                    span.secCompany__companyInfoItemText 2020年12月
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 資本金
                    span.secCompany__companyInfoItemText 4000万円
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 代表取締役
                    span.secCompany__companyInfoItemText 佐々木 威人
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel TEL・FAX
                    span.secCompany__companyInfoItemText 03-5155-3909・03-5155-2141
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 取引先金融機関
                    span.secCompany__companyInfoItemText 三菱東京UFJ銀行
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 事業内容
                    span.secCompany__companyInfoItemText 医療業界特化型　インターネットコンサルティング事業
                        br
                        | 医療機関特化型　ホームページ制作事業
                        br
                        | 医療業界特化型　広告代理店業務事業
                        br
                        | 自由診療特化型　開業支援コンサルティング事業
                        br
                        | 自由診療導入コンサルティング事業
                        br
                        | 商材開発、卸事業
                        
                        br
                        | 医療業界専門人材紹介事業 （医師、看護師、コメディカル）
                li.secCompany__companyInfoItem
                    span.secCompany__companyInfoItemLabel 提携士業事務所
                        br
                        | 一覧
                    span.secCompany__companyInfoItemText ＹＦＰクレア税理士法人
                        br
                        | 黒川税理士事務所
                        br
                        | 鈴木税務会計事務所
                        br
                        | 正田弁護士
                        br
                        | 染谷司法書士事務所
                        br
                        | 司法書士九九法務事務所
                        br
                        | 小出測量設計事務所