section.secContact
    .secContact__content
        p.secContact__subTitle Company
        h2.secContact__title 企業情報

        .secContact__contactCont
            p.secContact__contactNoteText 各種お問い合わせは、こちらから受付けております。以下のフォームに必要項目をご入力のうえ、ご連絡ください。
                br
                | 頂いだお問い合わせに関するご返信に2〜3日頂く場合がございますが、ご了承ください。

            ul.secContact__contactList
                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired 必須
                        span.secContact__contactLabel お問い合わせの種類
                    .secContact__contactCheckList
                        .secContact__contactCheckItem
                            label.secContact__contactChecklabel ご依頼に関するお問い合わせ
                                input.secContact__contactInput(type="radio" name="inquiry" value="ご依頼に関するお問い合わせ")
                                span.secContact__checkmark.u-checkmark
                            
                            label.secContact__contactChecklabel() 士業参画に関するお問い合わせ
                                input.secContact__contactInput(type="radio" name="inquiry" value="士業参画に関するお問い合わせ")
                                span.secContact__checkmark.u-checkmark

                            label.secContact__contactChecklabel その他のお問い合わせ
                                input.secContact__contactInput(type="radio" name="inquiry" value="その他のお問い合わせ")
                                span.secContact__checkmark.u-checkmark
                            
                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired.u-white 任意
                        span.secContact__contactLabel 会社・所属名
                    input.secContact__contactInputText(type="text", name="会社・所属名", placeholder="記入例：株式会社 東京 太郎")
               
                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired 必須
                        span.secContact__contactLabel 氏名
                    input.secContact__contactInputText(type="text", name="会社・所属名", placeholder="記入例：株式会社 東京 太郎")
              
                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired 必須
                        span.secContact__contactLabel #393939
                    input.secContact__contactInputText(type="text", name="会社・所属名", placeholder="記入例：株式会社 東京 太郎")
               
                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired.u-white 任意
                        span.secContact__contactLabel 電話番号
                    input.secContact__contactInputText(type="text", name="会社・所属名", placeholder="記入例：株式会社 東京 太郎")
                
                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired 必須
                        span.secContact__contactLabel メールアドレス
                    input.secContact__contactInputText(type="text", name="会社・所属名", placeholder="記入例：株式会社 東京 太郎")

                li.secContact__contactItem
                    p.secContact__contactLabelWrap
                        span.secContact__contactRequired 必須
                        span.secContact__contactLabel メールアドレス
                    textarea.secContact__contactTextArea


            .secContact__agreementCont
                p.secContact__agreementText 
                    a.secContact__agreementLink(href="") 個人情報の取扱いについて
                    span をご確認いただき、「同意する」にチェックのうえ、送信してください。
                
                .secContact__agreementCheckWrap
                    label.secContact__agreementLabel 同意する
                        input.secContact__agreementInput(type="checkbox")
                        span.secContact__agreementCheckmark.u-checkboxMark
                
                .secContact__agreementBtnWrap
                    button.secContact__agreementBtn 送信する