section.secFaq
    .secFaq__content
        p.secFaq__subTitle FAQ
        h2.secFaq__title よくあるご質問

        .secFaq__faqWrapper
            .secFaq__faqDropBtnWrapper
                span.secFaq__faqdropBtnTitle  絞り込み
                select.secFaq__faqSelect
                    option(value="すべて") すべて
                    option(value="すべて") すべて
                    option(value="すべて") すべて
                    option(value="すべて") すべて
                    option(value="すべて") すべて

            ul.secFaq__faqList
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q1.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q2.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q3.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q4.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q5.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）

                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q6.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q7.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q8.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q9.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）
                li.secFaq__faqItem.js-faqItem
                    h3.secFaq__faqItemQuestion.js-accordion
                        span.secFaq__faqItemNumber Q10.
                        |開業に必要な費用やノウハウについて全く分からない状態でも、依頼することは可能でしょうか？ 
                    .secFaq__faqItemAnswerPanel
                        .secFaq__faqItemAnswerWrap
                            p.secFaq__faqItemAnswer 診療科目によって必要な機器や必要な敷地面積なども異なりますので、「必要十分な開業資金」も、ドクターのコンセプトによって大きく異なってきます。しかし、これまでに多くの開業をお手伝いしてきた当社には、ドクターのあらゆる質問や不安に対して、実例を挙げてご説明できるだけの実績とノウハウがあります。例えば、「科目ごとの投資額の目安」「1,000万円の借り入れを返済する場合の返済例」「人にお金を払う(人件費)立場としてのノウハウ」「開業地の土地は購入したほうが良いのか？　借りたほうが良いのか？」といったケースbyケースのご質問やご相談に対しても、公知の情報をもとに、何が先生に一番合っているのかディスカッションしながら、きちんとロジックを組み立てていく作業をしています。
                        p.secFaq__faqItemBtn 法務顧問サービス（弁護士）

            button.secFaq__faqBtn.js-faqBtn
                span.secFaq__faqBtnText Load more
                img.secFaq__faqBtnIcon(src=`${relativePath}/_assets/images/common/icon_plus.svg`, alt="plus icon")