section.secKv
    .secKv__contentTexts
        .secKv__kvBg
        .secKv__textWrapper
            p.secKv__subheaderText Professional & ConsultantUnit Office
            h2.secKv__headerText PLUSKは医師や
                br.u-spDb
                | 医療機関に特化した
            h2.secKv__headerText “士業+コンサルタント”
            h2.secKv__headerText ユニットオフィスです。
    
    .secKv__contentSlider
        .swiper-container.kvSwiper
                .swiper-wrapper
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_img-01.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_img-02.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_img-03.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_img-04.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_img-05.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_img-06.png`, alt="")
    .secKv__bannerSlider
        .swiper-container.bannerSwiper
                .swiper-wrapper.bannerSwiperWrapper
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_banner-01.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_banner-02.png`, alt="")
                    .swiper-slide
                        img(src=`${relativePath}/_assets/images/kv/kv_banner-03.png`, alt="")

                .swiper-button-next
                    .next-icon
                .swiper-button-prev
                    .prev-icon
                .swiper-pagination