section.secNews
    .secNews__content
        p.secNews__subTitle News
        h2.secNews__title お知らせ

        ul.secNews__newsList
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
            li.secNews__newsItem.js-newsItem
                a.secNews__newsItemLink(href="")
                    span.secNews__newsItemDate 2020.8.25
                    br.u-spDb
                    span.secNews__newsItemText 慶應大と東京歯科大 2023年4月をめどに合併協議を開始 ―私立大学の統合からみる少子化の影響―
        
        button.secNews__moreNewsBtn.js-newsBtn
            span.secNews__caseBtnText Load more
            img.secNews__caseBtnIcon(src=`${relativePath}/_assets/images/common/icon_plus.svg`, alt="plus icon")