section.secPartner
    .secPartner__content
        p.secPartner__subTitle Partners
        h2.secPartner__title 士業メンバーのご紹介

        .secPartner__memberList
            .secPartner__memberItem
                .secPartner__memberBasicInfo
                    img.secPartner__memberPhoto(src=`${relativePath}/_assets/images/partner/partner_img-01.png`, alt="")
                    .secPartner__memberBasicInfoText
                        p.secPartner__memberPosition01 代表弁護士
                        p.secPartner__memberName 齋藤 健一郎
                        p.secPartner__memberPosition02 弁護士

                p.secPartner__memberDescription 東京大学理学部生物科学科卒。ジョージワシントン大学客員研究員、東京地方検察庁特別捜査部検事、防衛省防衛監察本部統括監察官付、法務省刑事局付、大手外資系銀行コンプライアンス部門ヴァイスプレジデント、渥美坂井法律事務所・外国共同事業パートナー等を経て現職。
            .secPartner__memberItem
                .secPartner__memberBasicInfo
                    img.secPartner__memberPhoto(src=`${relativePath}/_assets/images/partner/partner_img-02.png`, alt="")
                    .secPartner__memberBasicInfoText
                        p.secPartner__memberPosition01 代表弁護士
                        p.secPartner__memberName 河野 理彦
                        p.secPartner__memberPosition02 行政書士

                p.secPartner__memberDescription 医療に特化した行政交渉を行い、東京都内では多くの特殊案件を行う。一般社団法人化、医療法人としての大きな定款変更など、対応できる行政書士がいない範囲を最も得意とする。
            .secPartner__memberItem
                .secPartner__memberBasicInfo
                    img.secPartner__memberPhoto(src=`${relativePath}/_assets/images/partner/partner_img-03.png`, alt="")
                    .secPartner__memberBasicInfoText
                        p.secPartner__memberPosition01 共同パートナー
                        p.secPartner__memberName 米山 憲子
                        p.secPartner__memberPosition02 税理士

                p.secPartner__memberDescription 税理士法人シリウス医療事業部事業部長 女性の起業支援、特に医療系の開業サポートに多く従事。医療・健康・美容・福祉を通して社会貢献を考えていらっしゃる経営者の皆様の「一番身近なパートナーとして」をモットーとする。
            .secPartner__memberItem
                .secPartner__memberBasicInfo
                    img.secPartner__memberPhoto(src=`${relativePath}/_assets/images/partner/partner_img-04.png`, alt="")
                    .secPartner__memberBasicInfoText
                        p.secPartner__memberPosition01 シニアコンサルタント
                        p.secPartner__memberName 島岡 奏
                        p.secPartner__memberPosition02 ファイナンシャルプランナー

                p.secPartner__memberDescription 医師の資産形成に特化したFP。保険の見直しから、資産形成のための金融商品の購入サポート、償却資産の提案など幅広く対応ができる。女性ならではの視点で、実直なサポートが特徴。
            .secPartner__memberItem
                .secPartner__memberBasicInfo
                    img.secPartner__memberPhoto(src=`${relativePath}/_assets/images/partner/partner_img-05.png`, alt="")
                    .secPartner__memberBasicInfoText
                        p.secPartner__memberPosition01 共同パートナー
                        p.secPartner__memberName 木村 尚巧
                        p.secPartner__memberPosition02 弁護士

                p.secPartner__memberDescription 東京大学理学部生物科学科卒。医療系の顧問を多く抱え、医療法人の訴訟対応から、個人クリニックの顧問など幅広く手掛ける。国立研究開発法人国立循環器病研究センターコンプライアンス室長（現職） 同コンプライアンス委員会委員長（現職） ・地方独立行政法人堺市立病院機構コンプライアンス委員会委員（現職）
            .secPartner__memberItem
                .secPartner__memberBasicInfo
                    img.secPartner__memberPhoto(src=`${relativePath}/_assets/images/partner/partner_img-06.png`, alt="")
                    .secPartner__memberBasicInfoText
                        p.secPartner__memberPosition01 共同パートナー
                        p.secPartner__memberName 久保田 繁
                        p.secPartner__memberPosition02 税理士

                p.secPartner__memberDescription 大手税理士法人の医療事業部を経て、平成23年に現事務所に入所。新規開業支援や医療法人設立に携わりながら、数多くのセミナーで講師を歴任。