section.secSeminar
    .secSeminar__content
        p.secSeminar__subTitle Seminar
        h2.secSeminar__title 最新のセミナー情報

        .secSeminar__seminarList
            .swiper-container.seminarSwiper
                
                .swiper-wrapper.seminarSwiperWrapper
                    .swiper-slide
                        .secSeminar__seminarItem
                            img.secSeminar__seminarImg(src=`${relativePath}/_assets/images/seminar/seminar_img-01.png`, alt="")
                            .secSeminar__seminarInfoWrapper
                                p.secSeminar__seminarDescription 採用担当者様必見！看護師の定着率を大幅UPできるマル秘術　～離職低減、評価制度、人間関係etc..
                                .secSeminar__dateWrapper
                                    p.secSeminar__dateLabel 開催日
                                    .secSeminar__dates
                                        p.secSeminar__date 東京：2021年2月28日（月）
                                            br
                                            | 大阪：2021年3月16日（水）
                                a.secSeminar__seminarBtn(href="") 自費研

                    .swiper-slide
                        .secSeminar__seminarItem
                            img.secSeminar__seminarImg(src=`${relativePath}/_assets/images/seminar/seminar_img-02.png`, alt="")
                            .secSeminar__seminarInfoWrapper
                                p.secSeminar__seminarDescription 採用担当者様必見！看護師の定着率を大幅UPできるマル秘術　～離職低減、評価制度、人間関係etc..
                                .secSeminar__dateWrapper
                                    p.secSeminar__dateLabel 開催日
                                    .secSeminar__dates
                                        p.secSeminar__date 東京：2021年2月28日（月）
                                            br
                                            | 大阪：2021年3月16日（水）
                                a.secSeminar__seminarBtn(href="") 自費研

                    .swiper-slide
                        .secSeminar__seminarItem
                            img.secSeminar__seminarImg(src=`${relativePath}/_assets/images/seminar/seminar_img-01.png`, alt="")
                            .secSeminar__seminarInfoWrapper
                                p.secSeminar__seminarDescription 採用担当者様必見！看護師の定着率を大幅UPできるマル秘術　～離職低減、評価制度、人間関係etc..
                                .secSeminar__dateWrapper
                                    p.secSeminar__dateLabel 開催日
                                    .secSeminar__dates
                                        p.secSeminar__date 東京：2021年2月28日（月）
                                            br
                                            | 大阪：2021年3月16日（水）
                                a.secSeminar__seminarBtn(href="") 自費研

                    .swiper-slide
                        .secSeminar__seminarItem
                            img.secSeminar__seminarImg(src=`${relativePath}/_assets/images/seminar/seminar_img-02.png`, alt="")
                            .secSeminar__seminarInfoWrapper
                                p.secSeminar__seminarDescription 採用担当者様必見！看護師の定着率を大幅UPできるマル秘術　～離職低減、評価制度、人間関係etc..
                                .secSeminar__dateWrapper
                                    p.secSeminar__dateLabel 開催日
                                    .secSeminar__dates
                                        p.secSeminar__date 東京：2021年2月28日（月）
                                            br
                                            | 大阪：2021年3月16日（水）
                                a.secSeminar__seminarBtn(href="") 自費研
                    .swiper-slide
                        .secSeminar__seminarItem
                            img.secSeminar__seminarImg(src=`${relativePath}/_assets/images/seminar/seminar_img-01.png`, alt="")
                            .secSeminar__seminarInfoWrapper
                                p.secSeminar__seminarDescription 採用担当者様必見！看護師の定着率を大幅UPできるマル秘術　～離職低減、評価制度、人間関係etc..
                                .secSeminar__dateWrapper
                                    p.secSeminar__dateLabel 開催日
                                    .secSeminar__dates
                                        p.secSeminar__date 東京：2021年2月28日（月）
                                            br
                                            | 大阪：2021年3月16日（水）
                                a.secSeminar__seminarBtn(href="") 自費研

                    .swiper-slide
                        .secSeminar__seminarItem
                            img.secSeminar__seminarImg(src=`${relativePath}/_assets/images/seminar/seminar_img-02.png`, alt="")
                            .secSeminar__seminarInfoWrapper
                                p.secSeminar__seminarDescription 採用担当者様必見！看護師の定着率を大幅UPできるマル秘術　～離職低減、評価制度、人間関係etc..
                                .secSeminar__dateWrapper
                                    p.secSeminar__dateLabel 開催日
                                    .secSeminar__dates
                                        p.secSeminar__date 東京：2021年2月28日（月）
                                            br
                                            | 大阪：2021年3月16日（水）
                                a.secSeminar__seminarBtn(href="") 自費研
            
                .seminar-button-next
                    .next-icon
                .seminar-button-prev
                    .prev-icon
                .swiper-pagination