section.secService
    .secService__content
        .secService__heading
            p.secService__subTitle Service
            h2.secService__title PLUSKが提供する
                br
                | サービス・強み
        .secService__serviceTextWrapper
            p.secService__serviceText 医師や医療機関の法務、税務、労務等は、新しい情報や特殊な制度が多々あります。
                br
                | しかし、士業の対応する幅は広く、その専門的なノウハウはたまりずらいのが実情です。医療法、医師法、医療法人、医療事故、医師の節税、それらの情報は新し制度や、対策などなかなか各士業では対応が遅れをとる傾向があります。
                br
                br
                | 我々PLUSKは、そのような課題を解決するために、それぞれのプロフェッショナルである士業が連携して、医師や医療機関へのサービスを提供していくユニットです。
                br
                br
                | 士業が専門的にこの領域を行い、異なる士業が横連携することによって、より多くの情報や方法を提供することが可能になり、サービスの質の向上や、ご依頼いただいた医師に対するメリットをご提供できます。
                br
                | また、このユニットにコンサルタントが加盟したことにより、医師の資産形成や経営課題の解決なども含めて、幅広いニーズにお応えしていく専門集団のオフィスです。