section.secServiceProvided
    .secServiceProvided__content
        .secServiceProvided__titleWrapper
            h2.secServiceProvided__title PLUSKが提供するサービス
        
        ul.secServiceProvided__serviceList
            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 01.
                    | 開業（医科・歯科）
                p.secServiceProvided__itemDescription 医院の開業は、監督官庁との交渉や金融機関への融資打診、法務の管理など複数の専門的なタスクが発生します。それぞれの課題に対して、一括して対応を行うことが可能です。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem 届け出（保健所、都道府県、厚生局）労務手続（労働基準局・ハローワークへの届出義務） / 税務手続（税務署への税務届出・電子申告)
                    li.secServiceProvided__itemListItem 開業に係わる融資業務 / 診療圏調査 / 事業計画書の作成 / 複数金融機関のご紹介 / 金融機関との条件折衝（金利・返済期間・借地期間）

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 02.
                    | 法人化（医科・歯科）
                p.secServiceProvided__itemDescription 法人設立認可はもちろん、MS法人との法人間取引や、出資持分が無い法人での資産に関する計画など、短期的な認可取得だけではなく、長期的な設計も同時に行うことが重要です。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 医療法人化（新法の医療法人申請）
                        span.secServiceProvided__itemSpan 100～150万円
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 一般社団法人設立認可
                        span.secServiceProvided__itemSpan 150～200万円

                    p.secServiceProvided__itemNote ※OP MS法人設立 20万円～、MS法人との契約周り調整コンサル30万円～

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 03.
                    | 事業承継
                p.secServiceProvided__itemDescription 医療法人の承継、個人クリニックの承継などは非常に多くなっております。デューデリや、新法の医療法人承継方法、各種届出関係など複雑な処理を一括して行います。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem 承継案件のマッチング
                    li.secServiceProvided__itemListItem デューデリジェンス
                    li.secServiceProvided__itemListItem 継承に係わる届け出/定款変更（保健所、都道府県、厚生局）
                    li.secServiceProvided__itemListItem 契約書面の作成/契約締結

                    p.secServiceProvided__itemNote ※概算費用＝譲渡額の10％～15％　（最低金額あり）

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 04.
                    | 閉院・解散
                p.secServiceProvided__itemDescription 医療法人の閉院・解散は、細かな届け出や準備が必要になります。合わせて資産の処分をしっかり行い、税務上の処理も同時進行で行わなければいけません。支出を最小に抑える閉院・解散を実施します。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem 関連者、取引先等との交渉、契約の締結
                    li.secServiceProvided__itemListItem 行政への届け出手続き
                    li.secServiceProvided__itemListItem 資産の処分

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 05.
                    | 法務顧問サービス（弁護士）
                p.secServiceProvided__itemDescription 医療法人、開業医の法務顧問を行います。医療法、医師法、薬機法、医療事故や雇用に係わる訴訟、医療広告や内容証明に対する対応など、医療経営に特化した法務顧問を実施します。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 医療法人顧問
                        span.secServiceProvided__itemSpan 月額5万円～
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 個人医院顧問
                        span.secServiceProvided__itemSpan 月額5万円～

                    p.secServiceProvided__itemNote ※ボリュームによって変動します。
                    li.secServiceProvided__itemListItem 医療訴訟、医療機関雇用訴訟など医療に係わる訴訟対応

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 06.
                    | 税務顧問サービス（税理士）
                p.secServiceProvided__itemDescription 医療税務は、優遇税制や各種助成金、事業報告の実施など多岐にわたります。医師や医療経営者の経営方針に合った税務処理は、経営上最も重要になるため、当社でも複数の税理士から一番合った顧問をご提案します。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 確定申告代行
                        span.secServiceProvided__itemSpan 1万円～
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 税務顧問
                        span.secServiceProvided__itemSpan 月額5万円～
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan CFO代行顧問
                        span.secServiceProvided__itemSpan 月額15万円～

                    p.secServiceProvided__itemNote ※給与計算、銀行振込代行、都道府県への事業報告、社保の手続き、労働保険手続き他
                    li.secServiceProvided__itemListItem 決算
                    li.secServiceProvided__itemListItem 融資代行（事業計画作成、金融機関への交渉）

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 07.
                    | 労務顧問サービス（社労士）
                p.secServiceProvided__itemDescription クリニックや医療法人の就業規則作成から、各種規定の作成や更新を最新の法律や制度の情報を提供しながら実施します。また各種助成金の情報をご提示しながら申請支援も可能です。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem.u-dashed
                        span.secServiceProvided__itemSpan 顧問
                        span.secServiceProvided__itemSpan 月額3万円～
                    li.secServiceProvided__itemListItem 就業規則・各種規定の作成
                    li.secServiceProvided__itemListItem 労務手続（規模によってご相談）
                    li.secServiceProvided__itemListItem 助成金申請支援

            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 08.
                    | 医師の資産形成（FP / 税理士）
                p.secServiceProvided__itemDescription 医師の資産形成は、税務処理と表裏一体になります。所得税と法人税の違いや、退職金の積み立て、控除の活用などは税理士と連動しながら、最適な方法をご提案します。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem 退職金積み立て相談（IDECO,保険の活用、MS法人の活用など）
                    li.secServiceProvided__itemListItem ファイナンシャルプランナーによるプランニング
                    li.secServiceProvided__itemListItem 税金相談
                    li.secServiceProvided__itemListItem 保険の見直し/金融資産相談/不動産投資相談/償却資産の見直し
                    li.secServiceProvided__itemListItem 相続相談
            li.secServiceProvided__serviceItem
                p.secServiceProvided__itemTitle
                    span.secServiceProvided__itemTitleNumber 09.
                    | 医師の資産形成（FP / 税理士）
                p.secServiceProvided__itemDescription 医師の資産形成は、税務処理と表裏一体になります。所得税と法人税の違いや、退職金の積み立て、控除の活用などは税理士と連動しながら、最適な方法をご提案します。
                ul.secServiceProvided__itemList
                    li.secServiceProvided__itemListItem 医療法人の定款変更、議事録作成
                    li.secServiceProvided__itemListItem 各種行政指導や、立ち入り検査の対応
                    li.secServiceProvided__itemListItem 海外未承認機器、薬品の輸入
                    li.secServiceProvided__itemListItem その他医療経営、医師として発生する各種課題対応