section.secStrength
    .secStrength__content
        .secStrength__pluskLogoWrapper
            img.secStrength__pluskLogo(src=`${relativePath}/_assets/images/common/plusk_logo_text.png`, alt="")
        .secStrength__titleWrapper
            h2.secStrength__title PLUSKの強み

        ul.secStrength__strengthList
            li.secStrength__strengthItem
                .secStrength__itemTitleWrapper
                    p.secStrength__itemTitle Strong 
                        br
                        | point
                    p.secStrength__itemTitleNumber 01
                p.secStrength__itemDescription 医療に特化している士業の為、医療特有の監督省庁へのスムーズな対応が可能です。
                    br
                    | 特化することにより最新の情報が入るため、ご提案の幅も広くなります。
            li.secStrength__strengthItem
                .secStrength__itemTitleWrapper
                    p.secStrength__itemTitle Strong 
                        br
                        | point
                    p.secStrength__itemTitleNumber 02
                p.secStrength__itemDescription 税務、法務、登記などワンストップでのサービスが可能となり、依頼主の負荷を低減します。
            li.secStrength__strengthItem
                .secStrength__itemTitleWrapper
                    p.secStrength__itemTitle Strong 
                        br
                        | point
                    p.secStrength__itemTitleNumber 03
                p.secStrength__itemDescription 資産構築と医療経営を同時に見ることが可能なため、依頼主の資産を最大化するご提案ができます。
            li.secStrength__strengthItem
                .secStrength__itemTitleWrapper
                    p.secStrength__itemTitle Strong 
                        br
                        | point
                    p.secStrength__itemTitleNumber 04
                p.secStrength__itemDescription 士業には珍しいカスタマーサポートを行う営業コンサルタントが専任。気軽に各種相談が可能です。