.breadcrumb {
  padding-left: 64px;
  list-style: none;
  background: transparent;
  @include u-flex($fw: wrap);

  @include u-mqMax {
    margin: 0 4.267vw;
    padding: 0;
  }

  &__item {
    &:nth-child(3) {
      font-size: 1.4rem;
      font-family: $NotosansJP;
      color: $gray4;

      @include u-mqMax {
        font-size: 1.2rem;
      }
    }

    &:not(:last-child) {
      margin-right: 28px;
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        right: -16px;
        transform: translateY(-50%);
        width: 4.2px;
        height: 7px;
        content: " ";
        background: url("../images/common/icon_arrow-right.svg");
        background-repeat: no-repeat;

        @include u-mqMax {
          width: 1.12vw;
          height: 1.867vw;
        }
      }
    }

    &:nth-child(2) {
      &::after {
        opacity: 0.5;
      }
    }
  }

  &__home {
    font-size: 1.3rem;
    color: $black;

    @include u-mqMax {
      font-size: 1.2rem;
    }

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__current {
    font-size: 1.4rem;
    color: $gray4;

    @include u-mqMax {
      font-size: 1.2rem;
    }

    &:hover {
      color: $gray4;
      text-decoration: none;
    }
  }
}
