.pageLink {
  border-top: 1px solid $lightGray4;
  border-bottom: 1px solid $lightGray4;
  margin: 64px 120px 0;
  padding: 28px 0;
  list-style: none;
  @include u-flex($jc: space-between);

  @include u-mqMax {
    margin: 10.667vw 0 0;
    padding: 8vw 4.267vw;
  }

  &__item {
    position: relative;
    font-size: 1.6rem;
    font-family: $NotosansJP;
    font-weight: 500;
    cursor: pointer;

    @include u-mqMax {
      font-size: 1.4rem;
    }

    &:nth-child(1) {
      padding-left: 32px;

      @include u-mqMax {
        padding-left: 8vw;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(-90deg);
        content: "";
        width: 8.7px;
        height: 11.7px;
        background-image: url("../images/common/icon_arrow-up.svg");
        background-repeat: no-repeat;
        background-size: 8.7px 11.7px;

        @include u-mqMax {
          width: 2.32vw;
          height: 3.12vw;
          background-size: 2.32vw 3.12vw;
        }
      }
    }

    &:nth-child(2) {
      padding-left: 32px;

      @include u-mqMax {
        padding-left: 8.533vw;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
        width: 16px;
        height: 14px;
        background-image: url("../images/common/icon_home.svg");
        background-repeat: no-repeat;

        @include u-mqMax {
          width: 4.267vw;
          height: 3.733vw;
          background-size: 4.267vw 3.733vw;
        }
      }
    }

    &:nth-child(3) {
      padding-right: 32px;

      @include u-mqMax {
        padding-right: 8vw;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(90deg);
        content: "";
        width: 8.7px;
        height: 11.7px;
        background-image: url("../images/common/icon_arrow-up.svg");
        background-repeat: no-repeat;

        @include u-mqMax {
          width: 2.32vw;
          height: 3.12vw;
          background-size: 2.32vw 3.12vw;
        }
      }
    }
  }
}
