/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  border-bottom: 1px solid $gray;
  padding: 0 40px;
  @include u-flex($ai: center, $jc: flex-end);
  height: 100px;

  @include u-mqMax {
    position: fixed;
    top: 0;
    height: 18.667vw;
    background: $white;
    z-index: 100;
    width: 100%;
  }

  &__logo {
    position: absolute;
    left: 40px;
    display: block;
    width: 115px;

    @include u-mqMax {
      width: 20vw;
    }
  }

  &__logoImg {
    width: 100%;
  }

  &__nav {
    margin-right: 20px;
    transition: background 0.6s ease-in-out 0.3s, height 0.3s ease-in-out;

    @include u-mqMax {
      margin: 0;
      position: fixed;
      top: 18.667vw;
      right: 0;
      width: 100%;

      overflow-y: scroll;
      height: 0;
    }

    &.is-open {
      height: 100vh;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &__navList {
    margin: 0;
    padding: 0;
    @include u-flex();
    list-style: none;

    @include u-mqMax {
      margin-left: auto;
      padding-bottom: 70px;
      flex-direction: column;
      width: 78.667vw;
      background: $white;
    }
  }

  &__navLink {
    padding: 20px 20px 35px;
    font-size: 1.6rem;
    font-family: $Transat;
    font-weight: 500;
    line-height: 1.56;
    color: $black;

    @include u-mqMax {
      border-bottom: 1px solid $gray;
      padding: 5.333vw 5.333vw 5.333vw 8.533vw;
      display: block;
      font-size: 1.5rem;
    }

    &:hover {
      border-bottom: 4px solid $yellow;
      color: $black;
      text-decoration: none;
    }
  }

  &__socialMedia {
    @include u-mqMax {
      margin: 18.667vw auto 0;
      padding-bottom: 100%;
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__socialLink {
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &__socialIcon {
    max-width: 20px;
    &:nth-child(1) {
      margin-right: 20px;
    }

    @include u-mqMax {
      width: 5.333vw;
      max-width: 5.333vw;
    }
  }

  &__burgerBtn {
    padding: 28.5px 25px;
    position: absolute;
    right: 0;
    background: $yellow;

    @include u-mqMax {
      padding: 7.6vw 6.667vw;
    }
  }

  &__burgerLine {
    display: block;
    height: 1px;
    width: 20px;
    background: $black;
    @include u-mqMax {
      height: 0.267vw;
      width: 5.333vw;
    }

    &:nth-child(2) {
      margin: 5px 0;
      width: 18px;

      @include u-mqMax {
        margin: 1.333vw 0;
        width: 4.8vw;
      }
    }

    &:nth-child(3) {
      width: 12px;

      @include u-mqMax {
        width: 3.2vw;
      }
    }
  }
}
