/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  text-align: center;
  background-color: $lightGray;

  &__cont {
    padding: 70px 0;
    position: relative;

    @include u-mqMax {
      padding: 16.533vw 0 12.8vw;
    }
  }

  &__logo {
    margin-bottom: 60px;

    @include u-mqMax {
      margin-bottom: 10.667vw;
    }
  }

  &__toTop {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: $yellow;

    @include u-mqMax {
      width: 16vw;
      height: 16vw;
    }
  }

  &__arrowUpIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include u-mqMax {
      width: 2.32vw;
      height: 3.12vw;
    }
  }

  &__logoImg {
    max-width: 115px;

    @include u-mqMax {
      width: 24.533vw;
      max-width: 24.533vw;
    }
  }

  &__socialIcons {
    margin: 0 auto 35px;
    max-width: 60px;
    @include u-flex($jc: space-between, $ai: center);

    @include u-mqMax {
      margin-bottom: 8.533vw;
      max-width: 16vw;
    }
  }

  &__socialLink {
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &__socialIcon {
    @include u-mqMax {
      width: 5.333vw;
    }
  }

  &__linkList {
    margin: 0;
    padding: 0;
    list-style: none;
    @include u-flex($jc: center);

    @include u-mqMax {
      flex-direction: column;
    }
  }

  &__linkItem {
    &:not(:last-child) {
      margin-right: 24px;

      @include u-mqMax {
        margin-bottom: 3.2vw;
      }
    }
  }

  &__link {
    color: $gray3;
    transition: all 0.3s ease-in-out;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: $yellow;
    }
  }

  &__copyrights {
    margin: 0;
    padding: 22px 0;
    background: $gray3;
    color: $lightGray4;
  }
}
