// color
$white: #fff;
$black: #000;
$yellow: #f8d32f;
$lightYellow: #ffe56f;
$gray: #dddddd;
$darkGray: #2e2e2e;

$gray2: #393939;
$gray3: #4b4b4b;
$gray4: #22222250;
$gray5: #393939;
$textGray: #2f2f2f;
$textLightGray: #999999;
$lightGray: #f8f8f8;
$lightGray2: #e3e3e3;
$lightGray3: #e4e4e4;
$lightGray4: #dddddd;
$red: #ff0000;

$activeRed: #fb3e1d;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;

// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
